.App {
  text-align: center;
  padding: 20px;
}

table{
  margin: 0 auto;
}

td {
  height: 50px;
  width: 50px;
  background-color: #1E88E5;
  cursor: crosshair;
}

.sink{
  background-color: #000000;
}

.close:hover {
  background-color: #0066CC;
}
.open{
  background-color: #0000CC;
}

p,
button,
input {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
  margin: 1em;

}

button:disabled{
  cursor: not-allowed;
  color: graytext;
}

@media only screen and (max-width: 600px) {
  td {
    height: 1.5em;
    width: 1.5em;
  }
  button{
    display: block;
    margin: 10px auto;
  }
}